@{
    Layout = null;
}
<!--显示区域-->
<div class="easyui-layout" style="width:100%;height:100%;">
	<div data-options="region:'west',split:true" title="全宗信息和归档方式" style="width:220px;">
		<div style="margin:26px 7px;text-align:left;">
			<ul class="easyui-tree qa-tree-folder" data-options="url:'/ArchiveManage/LoadFonds',method:'get',animate:true,dnd:true" id="QuanZhongSelect"></ul>
		</div>
	</div>
	<div data-options="region:'center',title:'全宗信息维护'">
		<table class="easyui-treegrid" id="mytree"
			   data-options="method:'get',
			   border:false,
			   rownumbers:true,
			   idField:'id',
			   treeField:'name' ,
			   toolbar:'#fenlei1_tb'">
			<thead>
				<tr>
					<th data-options="field:'id'"></th>
					<th data-options="field:'pid',hidden:true"></th>
					<th data-options="field:'name'" width="220">名称</th>
					<th data-options="field:'size'" width="100" align="center">大小</th>
					<th data-options="field:'date'" width="150">修改时间</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<!--toolbar菜单-->
<div id="fenlei1_tb" style="padding: 5px; height: auto; vertical-align: bottom;">
	<div style="padding:10px auto;text-align:left;">
		从
		<input class="easyui-combotree" data-options="url:'../Data/tree_data1.json',method:'get'" style="width:200px;">
		导入到
		<input class="easyui-combotree" data-options="url:'../Data/tree_data1.json',method:'get'" style="width:200px;">
	</div>
</div>
<!--子菜单-->
<div id="fenlei_menu" class="easyui-menu" style="width:150px;">
	<div onclick="FenLeiControl(1)" iconCls="icon-add">同级</div>
	<div onclick="FenLeiControl(2)" iconCls="icon-add">子级</div>
	<div onclick="FenLeiControl(3)" iconCls="icon-edit">修改</div>
	<div onclick="FenLeiControl(4)" iconCls="icon-remove">删除</div>
</div>

<script>
/**分类页面初始话页面**/
$(function(){
    $('#QuanZhongSelect').tree({
	    url:'../Data/tree_data1.json',
		method:'get',
		required:true,
		onClick:function(){
			$('#mytree').treegrid({
				 url: '../Data/treegrid_data1.json'
				});
			}
	})
	$('#mytree').treegrid({
		method: 'get',
		animate: true,
		onDblClick: function(node){
			$(this).treegrid('beginEdit',node.target);
		},
		onContextMenu:function(e,node){
			e.preventDefault();
			$('#fenlei_menu').menu('show', {
				left: e.pageX,
				top: e.pageY
			});
		  }
	});
})
/**分类操作**/
function FenLeiControl(e){
	if(e==1){
       var obj_node = $('#mytree').treegrid('getSelected');
	   var obj_id =obj_node.id*10+11;
	   $('#mytree').treegrid('append', {
		   parent: obj_node.pid,//treegrid 父id 必须指定
		   data: [{
			   id: obj_id,//treegrid id
		 	   pid: obj_node.pid,
			   name: '新节点'//tree节点名称
		    }]
	    });
	   $('#mytree').treegrid('beginEdit', obj_id);
	}
}
</script>
